
/* permet de l'image */
.homePage {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("/images/informatique_theme.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Couche sombre pour améliorer la lisibilité du texte */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.subtitle {
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
}
